body {
  margin: 0;
  color: white;
}

h2, h3, p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.menu-button {
  position: fixed;
  margin: auto 0;
  top: 200px;
  bottom: 0;
  width: 74px;
  height: 73px;
  background-color: #000000;
  border: none;
  text-align: right;
  box-sizing: border-box;
  padding: 2px 0;
  z-index: 1000;
}
.menu-button__text {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  font-variant: small-caps;
  padding-right: 8px;
  border-bottom: 3px solid #FFF6E3;
}
.menu-button__text:first-of-type {
  border-top: 3px solid white;
}
.menu-button__text:first-of-type:hover {
  padding-right: 35px;
}
.menu-button__text:last-of-type:hover {
  padding-right: 35px;
}

.registartion-button__container {
  position: fixed;
  right: 0;
  top: 46px;
  z-index: 2;
}
.registartion-button__container .registartion-button {
  background-color: white;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 12px 10px 0 #000000;
  font-weight: 600;
  font-size: 24px;
  width: 237px;
  height: 50px;
}

.registartion-button__container .registartion-button--general {
  line-height: 1.2;
}

.registartion-button__container .registartion-button--hovered {
  line-height: 1.5;
  display: none;
}
.registartion-button__container:hover .registartion-button {
  background-color: #68b861;
}
.registartion-button__container:hover .registartion-button--general {
  display: none;
}
.registartion-button__container:hover .registartion-button--hovered {
  display: inline;
}

.overview {
  background-image: url(images/bg.jpeg);
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-position: initial;
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
}
.overview__top-screen {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.overview__top-screen__heading {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  min-height: 50px;
  margin-bottom: 140px;
}
.overview__top-screen__heading__container {
  flex-grow: 10;
  position: relative;
}
.overview__top-screen__heading__container__price-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

.overview__top-screen__heading__container__price-wrapper .def-button {
  background-color: white;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 12px 10px 0 #000000;
  font-weight: 600;
  font-size: 64px;
  width: 400px;
  height: 150px;
}

.overview__top-screen__heading__container__price-wrapper .def-button--general {
  line-height: 0.3;
}

.overview__top-screen__heading__container__price-wrapper .def-button--hovered {
  line-height: 0.05;
  font-size: 34px;
  display: none;
}
.overview__top-screen__heading__container__price-wrapper:hover .def-button {
  background-color: #68b861;
}
.overview__top-screen__heading__container__price-wrapper:hover .def-button--general {
  display: none;
}
.overview__top-screen__heading__container__price-wrapper:hover .def-button--hovered {
  display: inline;
}

.overview__top-screen__heading__container__price {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 322px;
  height: 65px;
  background-color: #FFF6E3;
  box-shadow: 14px 14px 0 #68b861;
  color: #353635;
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
  text-align: center;
}
.overview__top-screen__heading__wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 60px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overview__top-screen__heading__text {
  font-weight: bold;
  font-size: 100px;
  color: #353635;
  line-height: 1.25;
  -webkit-text-stroke: 1px #68b861;
  text-shadow: 4px 4px white;
  max-width: 640px;
}
.overview__top-screen__heading__container--empty {
  flex-grow: 6;
}
.overview__top-screen__content {
  display: flex;
  flex-flow: row;
  min-height: 380px;
  position: relative;
  margin-bottom: 110px;
}
.overview__top-screen__content__heading {
  flex: auto;
  flex-basis: 712px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.overview__top-screen__content__heading__text {
  max-width: 495px;
  color: #353635;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.6;
}
.overview__top-screen__content .__wave {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.overview__top-screen__content__info {
  flex: auto;
  flex-basis: 712px;
  background-color: #68b861;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.overview__top-screen__content__info__text {
  max-width: 445px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
}
.overview__middle-screen {
  background-color: #353635;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 90px 114px 0 141px;
}
.overview__middle-screen__info {
  max-width: 720px;
  flex: auto;
  margin-bottom: 140px;
  color: #353635;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
}
.overview__middle-screen__info__first-p {
  margin-bottom: 40px;
}
.overview__middle-screen__heading {
  flex-basis: 157px;
  flex-grow: auto;
  flex-shrink: 0;
  margin-left: 50px;
  color: #68b861;
  font-weight: bold;
  font-size: 60px;
  text-shadow: 4px 4px white;
  -webkit-text-stroke: 1px #353635;
}
.overview__bottom-screen {
  padding: 90px 118px 150px 121px;
}
.overview__bottom-screen__heading {
  max-width: 425px;
  position: relative;
  padding-right: 85px;
  margin-bottom: 60px;
}
.overview__bottom-screen__heading__text {
  font-weight: 800;
  font-size: 100px;
  line-height: 1.2;
  color: #353635;
  line-height: 1.25;
  -webkit-text-stroke: 1px white;
  text-shadow: 4px 4px #68b861;
}

.overview__bottom-screen__info {
  display: flex;
  justify-content: flex-end;
}
.overview__bottom-screen__info__list {
  list-style-image: url("images/3d.png");
  max-width: 905px;
  width: 100%;
}
.overview__bottom-screen__info__list__item {
  color: #353635;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 40px;
  width: 100%;
}

.testimonials {
  padding-left: 142px;
  font-family: "Montserrat", sans-serif;
  
}
.testimonials__heading {
  display: flex;
  justify-content: center;
  margin-bottom: -35px;
  position: relative;
}

.testimonials__heading__text {
  font-weight: 800;
  font-size: 120px;
  line-height: 1.2;
  color: #353635;
  -webkit-text-stroke: 1px white;
  text-shadow: 4px 4px #68b861;
}
.testimonials__countries {
  background-color: #909190;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 1160px;
  padding: 120px 0;
}
.testimonials__countries__country {
  display: flex;
}

.testimonials__countries__country__info {
  max-width: 515px;
  flex-grow: 0;
  color: white;
  font-size: 18px;
  line-height: 1.6;
}
.testimonials__countries__country__info__heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.testimonials__sony {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 57px;
  padding-bottom: 158px;
  flex-direction: row;
}

.testimonials__sony__info {
  margin-top: 96px;
  color: #353635;
  font-size: 18px;
  line-height: 1.6;
  max-width: 592px;
}
.testimonials__sony__info__heading {
  font-weight: 800;
  font-size: 100px;
  line-height: 1.2;
  color: #353635;
  line-height: 1.25;
  -webkit-text-stroke: 1px white;
  text-shadow: 4px 4px #68b861;
  margin-bottom: 20px;
}

.footer {
  font-family: "Montserrat", sans-serif;
  width: 90%;
  margin-left: 10%;
}

.footer__form {
  background-color: #343434;
  padding: 55px 60px 137px;
}
.footer__form__heading {
  color: #68b861;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.6;
  margin-bottom: 83px;
  -webkit-text-stroke: 1px white;
  text-shadow: 4px 4px #353635;
}
.footer__form__fields-wrapper {
  display: flex;
  margin-bottom: 84px;
}
.footer__form__field {
  background-color: #343434;
  border: none;
  border-bottom: 1px solid white;
  flex: auto;
  height: 30px;
  color: white;
  font-size: 18px;
  line-height: 1.6;
}
.footer__form__field::placeholder {
  color: white;
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.8;
}
.footer__form__field--name {
  margin-right: 50px;
}
.footer__form__field--message-wrapper {
  display: flex;
}
.footer__form__field--message {
  flex-basis: 572px;
  flex: auto;
  margin-bottom: 121px;
}
.footer__form__button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.footer__form__button-wrapper .footer__form__button {
  background-color: white;
  border-radius: 0;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 5px 7px 0 #000000;
  width: 110px;
  height: 50px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
  cursor: pointer;
}

.footer__form__button:hover {
  background-color: #68b861;
}